.jumbotron{
	background-image: url(../img/urban.jpg);
	background-position: 0% 10%;
	background-size: cover;
	height: 1000px;
	color: #777777;
}

h2{
	color:#777777;
}

caption{
	background-color:#777777;
	opacity: 80%;
}
.navbar-default {
	color: #7F7F7F;
	background-color: transparent;
}

#resume img:last-child { display: none; }
#resume:hover img:first-child { display: none; }
#resume:hover img:last-child { display: inline-block; }

.dropdown-menu {
  left: 50%;
  right: auto;
  text-align: center;
  transform: translate(-50%, 0);
}

a, a:link, a:hover {
  text-decoration: none;
}

.col-centered {
  float: none;
  margin: 0 auto;
}
